<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>RedEye | {{ page_title }}</title>


	<!-- Style Frameworks -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

	<!-- JavaScript Frameworks-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

	{% block localdeclarations %}
	{% endblock %}

	<style type="text/css">
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
			overflow: visible !important;
		}
	</style>

</head>
<body>

	{% include 'navbar.html' %}
	
	<main style="flex: 1 0 auto;">
		{% block content %}
		{% endblock %}
	</main>

	{% include 'footer.html' %}
</body>
</html>