<footer class="page-footer red darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12 hide-on-med-and-down">
				<h5 class="white-text">RedEye Team</h5>
				<p class="grey-text text-lighten-4">We'll watch for you and your family even when everyone else's eyes are blinded.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">System Guide</a></li>
					<li><a class="grey-text text-lighten-3" href="#!">Our Team</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright hide-on-med-and-down">
		<div class="container">
			© 2015 Copyright
		</div>
	</div>
</footer>