<script type="text/javascript">

function getContent(url)
{
	$.ajax({

		type: "GET",
		url: url,
		success: function(data) {
			$('#content-wrapper').html(data);
		}

	});

}
</script>

<header>
	<div class="navbar-fixed">
		<nav class="red darken-3">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo">RedEye</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="#" onclick="getContent('/notifications')">Notifications</a></li>
					<li><a href="#" onclick="getContent('/cameras')">Cameras</a></li>
					<li><a href="#" onclick="getContent('/users')">Users</a></li>
					<li><a href="{% url  'logout_user' %}">Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="#" onclick="getContent('/notifications')">Notifications</a></li>
					<li><a href="#" onclick="getContent('/cameras')">Cameras</a></li>
					<li><a href="#" onclick="getContent('/users')">Users</a></li>
					<li><a href="{% url  'logout_user' %}">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
