<script type="text/javascript">

$('select').material_select();

function show_group(group_select){
	$(".cam").hide();
	var selected_group = $(group_select).val();
	$("."+selected_group).show();
}

</script>

<div class="section">
	<div class="row">
		<div class="col offset-s2 s8">
			<select id="fitness-selection" onchange="show_group(this)" class="browser-default">
				<option value="cam" selected>All cameras</option>
				{% for group in cmr_groups %}
				<option value="{{ group }}">{{ group }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

{% include 'cameras_in_list.html' with cmr_id='asf48124' cmr_status='online' cmr_name='front_gate' cmr_group='Home' %}
{% include 'cameras_in_list.html' with cmr_id='das38273' cmr_status='online' cmr_name='front_door' cmr_group='Home' %}
{% include 'cameras_in_list.html' with cmr_id='fdh47284' cmr_status='offline' cmr_name='front_gate' cmr_group='Company' %}
{% include 'cameras_in_list.html' with cmr_id='pfd43824' cmr_status='online' cmr_name='back_gate' cmr_group='Company' %}