<script type="text/javascript">
$('.tooltipped').tooltip({delay: 20});
$('#mt_{{ cmr_id }}').leanModal();

function saveChanges(cmr_id){
	$('#modal_'+cmr_id).closeModal();
	console.log('this should be closed');
}

function cancelChanges(cmr_id){
	$('#modal_'+cmr_id).closeModal();
}

function cmrInfo(cmr_id){
	$('#modal_'+cmr_id).openModal();
}

</script>

<div class="section {{ cmr_group }} cam">

	<div class="row valign-wrapper">
		<div class="col s2 m1 center-align valign">
			{% if cmr_status == 'online' %}
			<i class="material-icons green-text medium">videocam</i>
			{% else %}
			<i class="material-icons red-text medium">videocam_off</i>
			{% endif %}
		</div>
		<div class="col s10 valign">
			<h5>{{ cmr_group }} - {{ cmr_name }}</h5>
			<p>{{cmr_id}}</p>
		</div>
		<div class="col s1 valign">
			<ul>
				<li><a onclick="cmrInfo('{{cmr_id}}')" href="#" class="tooltipped" data-position="left" data-tooltip="Details"><i class="material-icons small">info_outline</i></a></li>
				<li><a href="#" class="tooltipped" data-position="left" data-tooltip="Turn off notifications"><i class="material-icons small">volume_off</i></a></li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>
</div>

<div id="modal_{{ cmr_id }}" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Edit Camera - {{ cmr_id }}</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input disabled value="{{ cmr_id }}" id="i_cmr_id_{{ cmr_id }}" type="text" class="validate">
						<label class="active" for="i_cmr_id_{{ cmr_id }}">Camera ID</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="i_cmr_name_{{ cmr_id }}" value="{{ cmr_name }}" type="text" class="validate">
						<label class="active" for="i_cmr_name_{{ cmr_id }}">Camera Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select id="i_group_{{ cmr_id }}">
							{% for group in cmr_groups %}
							<option value="{{ group }}">{{ group }}</option>
							{% endfor %}
						</select>
						<label class="active">Camera Group</label>
					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="saveChanges('{{ cmr_id }}')" class="modal-action waves-effect waves-red btn-flat ">Save Changes</a>
		<a href="#!" onclick="cancelChanges('{{ cmr_id }}')" class="modal-action waves-effect waves-red btn-flat ">Cancel</a>
	</div>
</div>
