{% extends 'base.html' %}

{% block localdeclarations %}

<script type="text/javascript">

$(document).ready(function(){
	$(".button-collapse").sideNav();
	getContent("/notifications");
});

</script>

{% endblock %}

{% block content %}

<div id="content-wrapper" class="container">
	{% if app_content == "notifications" %}{% include "notifications.html" %}
	{% elif app_content == "users" %}{% include "users.html" %}
	{% elif app_content == "cameras" %}{% include "cameras.html" %}{% endif %}
</div>

{% endblock %}