{% extends 'base_nologin.html' %}

{% block localdeclarations %}

{% endblock %}

{% block content %}

<div id="content-wrapper" class="container">
    <h3>Login</h3>
    <p>Dica de usuário e senha: </p>
    <p>login: user1</p>
    <p>senha: user1</p>
    <p>Pode-se trocar o numero 1 por 2, 3, 4 ou 5 para logar com outros usuários </p>
    <p>Esta página está feiona. Desculpe-me. - Batman </p>

    {% if invalid_login %}
        <h5> Invalid Login! Try again:</h5>
    {% elif disabled_account %}
        <h5> Disabled Account!</h5>
    {% endif %}

    <form action="{% url  'authenticate_user' %}" method="post">
        {% csrf_token %}
        username: <br/> <input type="text" name="username"> <br/>
        password: <br/> <input type="text" name="password"> <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>

</div>

{% endblock %}
