<script type="text/javascript">
$('.tooltipped').tooltip({delay: 20});
$('#mt_{{ ntf_id }}').leanModal();

function saveChanges(ntf_id){
	$('#modal_'+ntf_id).closeModal();
	console.log('this should be closed');
}

function cancelChanges(ntf_id){
	$('#modal_'+ntf_id).closeModal();
}

function ntfInfo(ntf_id){
	$('#modal_'+ntf_id).openModal();
}

</script>

<script type="text/javascript">
$('.tooltipped').tooltip({delay: 20});
</script>

<div class="section ntf {{ntf_group}}">
	<div class="row valign-wrapper">
		<div class="col s2 m1 center-align valign">
			{% if ntf_checked %}<i class="material-icons green-text medium">done_all</i>
			{% elif ntf_danger %}<i class="material-icons red-text medium">error_outline</i>
			{% else %}<i class="material-icons yellow-text text-darken-1 medium">warning</i> {% endif %}
		</div>
		<div class="col s10 valign">
			<h5>{{ ntf_group }} - {{ ntf_cam }}</h5>
			<p>{{ ntf_time }} - no. of people: {{ ntf_n_ppl }} - {% if ntf_checked %}checked by {{ ntf_checked }}{% elif ntf_danger %}<strong>DANGER SITUATION checked by {{ntf_danger}}</strong>{% else %}<strong>not checked yet</strong>{% endif %}</p>
		</div>
		<div class="col s1 valign">
			<ul>
				<li><a href="#" onclick="ntfInfo('{{ ntf_id }}')" class="tooltipped" data-position="left" data-tooltip="Details"><i class="material-icons small">info_outline</i></a></li>
				<li><a href="#" class="tooltipped" data-position="left" data-tooltip="Check safe"><i class="material-icons small">done</i></a></li>
				<li><a href="#" class="tooltipped" data-position="left" data-tooltip="Turn off notifications"><i class="material-icons small">volume_off</i></a></li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>

</div>


<div id="modal_{{ ntf_id }}" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>View notification - {{ ntf_id }}</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input disabled id="i_ntf_cam_{{ ntf_id }}" value="{{ ntf_group }} - {{ ntf_cam }}" type="text" class="validate">
						<label class="active" for="i_ntf_cam_{{ ntf_id }}">Camera Location</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						  <img class="responsive-img" data-caption="{{ ntf_time }} at {{ntf_group}} - {{ntf_cam}}" src="{{ ntf_img_src }}">
					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="saveChanges('{{ ntf_id }}')" class="modal-action waves-effect waves-red btn-flat ">Check Clear</a>
		<a href="#!" onclick="cancelChanges('{{ ntf_id }}')" class="modal-action waves-effect waves-red btn-flat ">Dismiss</a>
		<a href="#!" onclick="cancelChanges('{{ ntf_id }}')" class="modal-action waves-effect waves-red btn-flat ">Check unsafe</a>
	</div>
</div>
