<script type="text/javascript">
	$('select').material_select();

function show_group(group_select){
	$(".ntf").hide();
	var selected_group = $(group_select).val();
	$("."+selected_group).show();
}

</script>

<div class="section">
	<div class="row">
		<div class="col offset-s2 s8">
			<select id="fitness-selection" onchange="show_group(this)" class="browser-default">
				<option value="ntf" selected>All notifications</option>
				{% for group in ntf_groups %}
				<option value="{{ group }}">{{ group }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

{% include 'notification_in_list.html' with ntf_id='43242' ntf_time='19:32' ntf_group='Home' ntf_cam='Back Door' ntf_n_ppl='3' ntf_danger='Grandi' ntf_img_src='http://cdn2.bestquadcopter.com/wp-content/uploads/2013/10/flying-fpv-night-flir-infrared-camera.jpg' %}
{% include 'notification_in_list.html' with ntf_id='42753' ntf_time='17:54' ntf_group='Home' ntf_cam='Front Door' ntf_n_ppl='1' ntf_img_src='http://cdn2.bestquadcopter.com/wp-content/uploads/2013/10/flying-fpv-night-flir-infrared-camera.jpg' %}
{% include 'notification_in_list.html' with ntf_id='42512' ntf_time='14:22' ntf_group='Company' ntf_cam='Gate 3' ntf_n_ppl='2' ntf_checked='Bátima' ntf_img_src='http://cdn2.bestquadcopter.com/wp-content/uploads/2013/10/flying-fpv-night-flir-infrared-camera.jpg' %}