<script type="text/javascript">

$('select').material_select();

function show_group(group_select){
	$(".user").hide();
	var selected_group = $(group_select).val();
	$("."+selected_group).show();
}

</script>

<div class="section">
	<div class="row">
		<div class="col offset-s2 s8">
			<select id="fitness-selection" onchange="show_group(this)" class="browser-default">
				<option value="user" selected>All users</option>
				{% for group in usr_groups %}
				<option value="{{ group }}">{{ group }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

{% include 'user_in_list.html' with usr_name='Bátima' usr_id='bat66' usr_group='Home' usr_last_checkin_time='14:35' %}
{% include 'user_in_list.html' with usr_name='Grande' usr_id='gnd54' usr_group='Home' usr_last_checkin_time='15:57' %}
{% include 'user_in_list.html' with usr_name='Barragem' usr_id='bar5000' usr_group='Company' usr_last_checkin_time='15:11' %}
{% include 'user_in_list.html' with usr_name='Bahia' usr_id='bahea' usr_group='Company' usr_last_checkin_time='17:22' %}