<script type="text/javascript">

$('select').material_select();
$('.tooltipped').tooltip({delay: 20});

function saveChanges(usr_id){
	$('#modal_'+usr_id).closeModal();
	console.log('this should be closed');
}

function cancelChanges(usr_id){
	$('#modal_'+usr_id).closeModal();
}

function userInfo(usr_id){
	$('#modal_'+usr_id).openModal();
}

</script>

<div class="section {{ usr_group }} user">

	<div class="row valign-wrapper">
		<div class="col s2 m1 center-align valign">
			<i class="material-icons green-text medium">perm_identity</i>
		</div>
		<div class="col s10 valign">
			<h5>{{ usr_name }}</h5>
			<p>{% if usr_last_checkin_time %}Last check-in at {{ usr_last_checkin_time }}{% endif %}</p>
		</div>
		<div class="col s1 valign">
			<ul>
				<li><a href="#" onclick="userInfo('{{ usr_id }}')" class="tooltipped" data-position="left" data-tooltip="Details"><i class="material-icons small">info_outline</i></a></li>
				<li><a href="#" class="tooltipped" data-position="left" data-tooltip="Remove user from group"><i class="material-icons small">delete</i></a></li>
			</ul>
		</div>
	</div>
	<div class="divider"></div>

</div>

<div id="modal_{{ usr_id }}" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>Edit User - {{ usr_id }}</h4>
		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input disabled value="{{ usr_id }}" id="i_user_id_{{ usr_id }}" type="text" class="validate">
						<label class="active" for="i_user_id_{{ usr_id }}">User ID</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="i_user_name_{{ usr_id }}" value="{{ usr_name }}" type="text" class="validate">
						<label class="active" for="i_user_name_{{ usr_id }}">User Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<select id="i_group_{{ usr_id }}">
							{% for group in usr_groups %}
							<option value="{{ group }}">{{ group }}</option>
							{% endfor %}
						</select>
						<label class="active">User Group</label>
					</div>
				</div>

			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="saveChanges('{{ usr_id }}')" class="modal-action waves-effect waves-red btn-flat ">Save Changes</a>
		<a href="#!" onclick="cancelChanges('{{ usr_id }}')" class="modal-action waves-effect waves-red btn-flat ">Cancel</a>
	</div>
</div>