<!-- APENAS TESTE! BATMAN IRA APAGAR DEPOIS -->
{% load staticfiles %}
<h1>Teste media</h1>

<br/>
{% if notification.picture_url %}
<img src="{% static notification.picture_url %}" alt="Notification picture" width="500" heigth="375"/>
{% else %}
    <h3>No picture</h3>
{% endif %}

<br/>
{% if notification.video_url %}
<video width="500" height="375" controls>
  <source src="{% static notification.video_url %}" type="video/mp4">
Your browser does not support the video tag.
</video>
{% else %}
    <h3>No video</h3>
{% endif %}
